@model IEnumerable<NewsTella.Models.ViewModel.LatestArticleVM>


<style>
	.tab-category-wrapper {
		display: inline-block;
	}

	.comma {
		display: inline-block;
		color: #e41b13;
	}
</style>

@foreach (var latestArticle in Model){
	<div class="article-container">
		<div class="img-container">
			<div class="tab-img-wrapper">
				<div class="tab-img" style="background-image: url('@latestArticle.ImageLink');"></div>
			</div>
		</div>
		<div class="tab-article-section">
			<div class="tab-category-wrapper">
				@for (int i = 0; i < latestArticle.CategoryNames.Count; i++)
				{
					<a class="tab-category-heading" asp-controller="Categories" asp-action="Articles" asp-route-categoryId="@latestArticle.CategoryIds[i]">
						@latestArticle.CategoryNames[i]
					</a>
					@if (i < latestArticle.CategoryNames.Count - 1)
					{
						<span class="comma">, </span>
					}
				}
			
			</div>
			<h3 class="tab-article-heading">
				<a asp-controller="Article" asp-action="Details" asp-route-id="@latestArticle.ArticleId" title="@latestArticle.Headline">@latestArticle.Headline</a>
			</h3>
		</div>
	</div>
}
