@model NewsTella.Models.ViewModel.ArticleCreateVM
@using NewsTella.Models.Database;
@using NewsTella.Data;

<div class="container">
	<div class="row">
		<div class="col-2">
			<div class="mt-2">
			</div>
		</div>
		<div class="col-8">
			<h2>Create Article</h2>
			<br />

			<form asp-controller="Article" enctype="multipart/form-data" asp-action="Create" method="post">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>

				<div class="form-group mb-2">
					<label asp-for="LinkText" class="control-label">Link Text</label>
					<input asp-for="LinkText" class="form-control" />
					<span asp-validation-for="LinkText" class="text-danger"></span>
				</div>
				<div class="form-group mb-2">
					<label asp-for="Headline" class="control-label"></label>
					<input asp-for="Headline" class="form-control" />
					<span asp-validation-for="Headline" class="text-danger"></span>
				</div>
				<div class="form-group mb-2">
					<label asp-for="ContentSummary" class="control-label">Summary</label>
					<textarea asp-for="ContentSummary" class="form-control" style="min-height: 300px"></textarea>
					<span asp-validation-for="ContentSummary" class="text-danger"></span>
				</div>
				<div class="form-group mb-2">
					<label asp-for="Content" class="control-label">Content</label>
					<textarea asp-for="Content" class="form-control" style="min-height: 500px"></textarea>
					<span asp-validation-for="Content" class="text-danger"></span>
				</div>
				@* <div class="form-group mb-2">
				<label asp-for="ImageLink" class="control-label">Image Link</label>
				<input asp-for="ImageLink" class="form-control" value="~/images/default.jpg" />
				<span asp-validation-for="ImageLink" class="text-danger"></span>
				</div> *@

				<div class="form-group mb-2">
					<label class="col-form-label">Select imagefile</label>
					<input asp-for="FormImage" class="form-control" />
					<span asp-validation-for="FormImage" class="text-danger"></span>
				</div>

				<div class="form-group mb-2">
					<p>Categories</p>
					@foreach (Category item in Model.AllCategories)
					{
						<div class="form-check">
							<input type="checkbox" class="form-check-input" id="@item" name="SelectedCategoryIds" value="@item.Id">
							<label class="form-check-label" for="@item">@item.Name</label>
						</div>
					}
				</div>

				<div class="form-group mb-2">
					<p>Categories</p>
					@foreach (string item in Cathegories.CathegoriesList)
					{
						<div class="form-check">
							<input type="checkbox" class="form-check-input" id="@item" name="cathegories" value="@item">
							<label class="form-check-label" for="@item">@item</label>
						</div>
					}		
				</div>

				@* <div class="form-group mb-2">
					<p>Status</p>
					@foreach (var status in Statuses.StatusesList)
					{
						<input type="radio" asp-for="Status" value="@status" />
						<label for="@status">@status</label>
					}
				</div>
 *@
				<br />
				<div class="form-group">
					<input type="submit" value="Create" class="btn btn-primary" />
					<input class="btn btn-info" type="button" value="Preview" onclick="location.href='@Url.Action("Index", "Article", Model)'" />
					@* <input class="btn btn-danger" type="button" value="Delete" onclick="location.href='@Url.Action("Create", "Article", Model)'" /> *@
				</div>

			</form>
		</div>
		<div class="col-2">
		</div>
	</div>
</div>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
