@model NewsTella.Models.Database.Article
@using NewsTella.Data;


@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Article</h1>

<hr />
<div class="row">    
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

				
				<dl class="row">
					<dt class="col-md-2">
						Date
					</dt>
					<dd class="col-md-10">
						@Html.DisplayFor(model => model.DateStamp)
					</dd>
					<dt class="col-md-2">
						Image
					</dt>
					<dd class="col-md-10">
						<img src="@Model.ImageLink" alt="Article Image" style="max-width: 100%; height: auto;" />
					</dd>
				</dl>
				<form asp-action="Edit">
					<dl class="row">
						<dt class="col-md-2">
							@Html.DisplayNameFor(model => model.ImageLink)
						</dt>
						<dd class="col-md-10">
							<div class="form-group">
								<input asp-for="ImageLink" class="form-control" />
								<span asp-validation-for="ImageLink" class="text-danger"></span>
							</div>
						</dd>
						<dt class="col-md-2">
							@Html.DisplayNameFor(model => model.LinkText)
						</dt>
						<dd class="col-md-10">
							<div class="form-group">
								<input asp-for="LinkText" class="form-control" />
								<span asp-validation-for="LinkText" class="text-danger"></span>
							</div>
						</dd>
						<dt class="col-md-2">
							@Html.DisplayNameFor(model => model.Headline)
						</dt>
						<dd class="col-md-10">
							<div class="form-group">
								<input asp-for="Headline" class="form-control" />
								<span asp-validation-for="Headline" class="text-danger"></span>
							</div>
						</dd>
						<dt class="col-md-2">
							@Html.DisplayNameFor(model => model.Category)
						</dt>
						<dd class="col-md-10">
							<input asp-for="Category" class="form-control" />
							<span asp-validation-for="Category" class="text-danger"></span>
						</dd>
						<dt class="col-md-2">
							@Html.DisplayNameFor(model => model.Content)
						</dt>
						<dd class="col-md-10">
							<div class="form-group">
								<textarea asp-for="Content" class="form-control" style="min-height: 500px"></textarea>
								<span asp-validation-for="Content" class="text-danger"></span>
							</div>
						</dd>
						<dt class="col-md-2 p-2">
							@Html.DisplayNameFor(model => model.ContentSummary)
						</dt>
						<dd class="col-md-10 p-2">
							<textarea asp-for="ContentSummary" class="form-control" style="min-height: 200px"></textarea>
							<span asp-validation-for="ContentSummary" class="text-danger"></span>
						</dd>

						<dt class="col-md-2 p-3">
							Categories
						</dt>

						<dd class="col-md-10 p-3">
							<div class="form-group">
								@foreach (string item in Cathegories.CathegoriesList)
								{
									<div class="form-check-inline">
										<input type="checkbox" class="form-check-input " id="@item" name="cathegories" value="@item">
										<label class="form-check-label" for="@item">@item</label>
									</div>
								}
							</div>
						</dd>
						<dt class="col-md-2 p-3">
							Status
						</dt>

						@* <dd class="col-md-10 p-3">
							<div class="form-group">
								@foreach (var status in Statuses.StatusesList)
								{
									<input type="radio" asp-for="Status" value="@status" />
									<label for="@status">@status</label>
								}
							</div>
						</dd> *@
					</dl>

				</form>

			@*     <form asp-action="Delete">
			<input type="hidden" asp-for="Id" />
			<input type="submit" value="Delete" class="btn btn-danger" /> |
			<a asp-action="Index">Back to List</a>
			</form> *@
			<form asp-action="Edit" class="form-">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
				<a asp-action="Index">Back to List</a>
			</form>
		</form>
    </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


@* 

<div>

	<hr />

	<dl class="row">
		<dt class="col-md-2">
			Date
		</dt>
		<dd class="col-md-10">
			@Html.DisplayFor(model => model.DateStamp)
		</dd>
		<dt class="col-md-2">
			Image
		</dt>
		<dd class="col-md-10">
			<img src="@Model.ImageLink" alt="Article Image" style="max-width: 100%; height: auto;" />
		</dd>
	</dl>
	<form asp-action="Edit">
		<dl class="row">
			<dt class="col-md-2">
				@Html.DisplayNameFor(model => model.ImageLink)
			</dt>
			<dd class="col-md-10">
				<div class="form-group">
					<input asp-for="ImageLink" class="form-control" />
					<span asp-validation-for="ImageLink" class="text-danger"></span>
				</div>
			</dd>
			<dt class="col-md-2">
				@Html.DisplayNameFor(model => model.LinkText)
			</dt>
			<dd class="col-md-10">
				<div class="form-group">
					<input asp-for="LinkText" class="form-control" />
					<span asp-validation-for="LinkText" class="text-danger"></span>
				</div>
			</dd>
			<dt class="col-md-2">
				@Html.DisplayNameFor(model => model.Headline)
			</dt>
			<dd class="col-md-10">
				<div class="form-group">
					<input asp-for="Headline" class="form-control" />
					<span asp-validation-for="Headline" class="text-danger"></span>
				</div>
			</dd>
			<dt class="col-md-2">
				@Html.DisplayNameFor(model => model.Category)
			</dt>
			<dd class="col-md-10">
				<input asp-for="Category" class="form-control" />
				<span asp-validation-for="Category" class="text-danger"></span>
			</dd>
			<dt class="col-md-2">
				@Html.DisplayNameFor(model => model.Content)
			</dt>
			<dd class="col-md-10">
				<div class="form-group">
					<textarea asp-for="Content" class="form-control" style="min-height: 500px"></textarea>
					<span asp-validation-for="Content" class="text-danger"></span>
				</div>
			</dd>
			<dt class="col-md-2 p-2">
				@Html.DisplayNameFor(model => model.ContentSummary)
			</dt>
			<dd class="col-md-10 p-2">
				<textarea asp-for="ContentSummary" class="form-control" style="min-height: 200px"></textarea>
				<span asp-validation-for="ContentSummary" class="text-danger"></span>
			</dd>

			<dt class="col-md-2 p-3">
				Categories
			</dt>

			<dd class="col-md-10 p-3">
				<div class="form-group">
					@foreach (string item in Cathegories.CathegoriesList)
					{
						<div class="form-check-inline">
							<input type="checkbox" class="form-check-input " id="@item" name="cathegories" value="@item">
							<label class="form-check-label" for="@item">@item</label>
						</div>
					}
				</div>
			</dd>
			<dt class="col-md-2 p-3">
				Status
			</dt>

			<dd class="col-md-10 p-3">
				<div class="form-group">
					@foreach (var status in Statuses.StatusesList)
					{
						<input type="radio" asp-for="Status" value="@status" />
						<label for="@status">@status</label>
					}
				</div>
			</dd>
		</dl>

	</form>
	<form asp-action="Edit">
		<div class="form-group">
			<input type="submit" value="Save" class="btn btn-primary" />
		</div>
	</form> *@
	@* <form asp-action="Edit">
		<input type="hidden" asp-for="Id" />

		<input type="submit" value="Save" class="btn btn-danger" /> |
		<a asp-action="Index">Back to List</a>
	</form> 
</div>*@


@*
@* <h1>Preview</h1>
<div class="container">
    <div class="row">
        <hr />
        <div class="col-md-2">
            <div class="mt-3">
            </div>
        </div>
        <div class="col-md-10 mt-5 p-5" >


            <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="LinkText" class="control-label"></label>
                <input asp-for="LinkText" class="form-control" />
                <span asp-validation-for="LinkText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Headline" class="control-label"></label>
                <input asp-for="Headline" class="form-control" />
                <span asp-validation-for="Headline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
                <content>
                    <img src="@Model.ImageLink" alt="Article Image" style="max-width: 100%; height: auto;" />

                    <span><b>@Html.DisplayFor(model => model.Category)</b></span>
                    <span class="align-content-end">@Html.DisplayFor(model => model.DateStamp)</span>
               </content>
            </div>
               <div class="form-group">
                <label asp-for="ContentSummary" class="control-label"></label>
                <input asp-for="ContentSummary" class="form-control" />
                <span asp-validation-for="ContentSummary" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImageLink" class="control-label"></label>
                <input asp-for="ImageLink" class="form-control" />
                <span asp-validation-for="ImageLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>











            <div id="image" class="flex-column">

               <content>
                    <img src="@Model.ImageLink" alt="Article Image" style="max-width: 100%; height: auto;" />

                    <span><b>@Html.DisplayFor(model => model.Category)</b></span>
                    <span class="align-content-end">@Html.DisplayFor(model => model.DateStamp)</span>
               </content>
                          <div class="row">
                    <h1>
                    <dd class="col-sm-10">@Html.DisplayFor(model => model.Headline)</dd>
                    </h1>

                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Content)
                    </dd>

                </div>

            <hr />
            <div class="col-2">
                <div>
                    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
                    <a asp-action="Index">Back to List</a>
                </div>

            </div>
        </div>
    </div>




<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="LinkText" class="control-label"></label>
                <input asp-for="LinkText" class="form-control" />
                <span asp-validation-for="LinkText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Headline" class="control-label"></label>
                <input asp-for="Headline" class="form-control" />
                <span asp-validation-for="Headline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
                <content>
                    <img src="@Model.ImageLink" alt="Article Image" style="max-width: 100%; height: auto;" />

                    <span><b>@Html.DisplayFor(model => model.Category)</b></span>
                    <span class="align-content-end">@Html.DisplayFor(model => model.DateStamp)</span>
               </content>
            </div>
               <div class="form-group">
                <label asp-for="ContentSummary" class="control-label"></label>
                <input asp-for="ContentSummary" class="form-control" />
                <span asp-validation-for="ContentSummary" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImageLink" class="control-label"></label>
                <input asp-for="ImageLink" class="form-control" />
                <span asp-validation-for="ImageLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>

            </div>
    </div>

</div>
<div class="col-md-8"> </div>
<div > </div>
@*  <div class="col-md-12">
	<div class="row">
		<div class="col-md-4">
			<form asp-action="Edit">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<input type="hidden" asp-for="Id" />
				<div class="form-group">
					<label asp-for="LinkText" class="control-label"></label>
					<input asp-for="LinkText" class="form-control" />
					<span asp-validation-for="LinkText" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="ImageLink" class="control-label">Image Link</label>
					<input asp-for="ImageLink" class="form-control" />
					<span asp-validation-for="ImageLink" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Headline" class="control-label"></label>
					<input asp-for="Headline" class="form-control" />
					<span asp-validation-for="Headline" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Category" class="control-label"></label>
					<input asp-for="Category" class="form-control" />
					<span asp-validation-for="Category" class="text-danger"></span>
				</div>
			</form>

		</div>

		<div class="col-md-8">
			<content>
				<form asp-action="Edit">

					<div class="row">
						<img src="@Model.ImageLink" class="img-fluid" alt="Article Image" style="max-width: 100%; height: auto;" />
						<div class="justify-content-between"></div>
						<span class="text-md-start"><b>@Html.DisplayFor(model => model.Category)</b></span>

						<span class="text-md-end">@Html.DisplayFor(model => model.DateStamp)</span>

					</div>


					<div class="form-group">
						<label asp-for="Content" class="control-label">Content</label>
						<textarea asp-for="Content" class="form-control"></textarea>
						<span asp-validation-for="Content" class="text-danger"></span>
					</div>
				</form>
			</content>
		</div>



	</div>

</div>  *@

@* 
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
} *@
