@model NewsTella.Models.ViewModel.ArticleEditVM
@using NewsTella.Models.Database;
@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h3>Edit Article</h3>
            <div class="row">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <br />
                    <dl class="row">
                        <dt class="col-md-2">
                            Date
                        </dt>
                        <dd class="col-md-10">
                            @Html.DisplayFor(model => model.DateStamp)
                        </dd>
                        <dt class="col-md-2">
                            Image
                        </dt>
                        <dd class="col-md-10">
                            <img src="@Model.ImageLink" alt="Edit Image" style="max-width: 50%; height: auto;" />
                        </dd>
                       @*  <dd class="col-md-10">
                            <img src="@Model.FormImage" alt="Edit Image" style="max-width: 100%; height: auto;" />
                        </dd> *@
                    </dl> 
                    <dl class="row">
                        <dt class="col-md-2">
                            @Html.DisplayNameFor(model => model.FormImage)
                        </dt>
                        <dd class="col-md-10">
                            <div class="form-group">
                                <input asp-for="FormImage" class="form-control" />
                                <span asp-validation-for="FormImage" class="text-danger"></span>
                            </div>
                        </dd>

                        <dt class="col-md-2">
                            @Html.DisplayNameFor(model => model.LinkText)
                        </dt>
                        <dd class="col-md-10">
                            <div class="form-group">
                                <input asp-for="LinkText" class="form-control" />
                                <span asp-validation-for="LinkText" class="text-danger"></span>
                            </div>
                        </dd>
                        <dt class="col-md-2">
                            @Html.DisplayNameFor(model => model.Headline)
                        </dt>
                        <dd class="col-md-10">
                            <div class="form-group">
                                <input asp-for="Headline" class="form-control" />
                                <span asp-validation-for="Headline" class="text-danger"></span>
                            </div>
                        </dd>
                        <dt class="col-md-2">
                            @Html.DisplayNameFor(model => model.Content)
                        </dt>
                        <dd class="col-md-10">
                            <div class="form-group">
                                <textarea asp-for="Content" class="form-control" style="min-height: 500px"></textarea>
                                <span asp-validation-for="Content" class="text-danger"></span>
                            </div>
                        </dd>
                        <dt class="col-md-2 p-2">
                            @Html.DisplayNameFor(model => model.ContentSummary)
                        </dt>
                        <dd class="col-md-10 p-2">
                            <textarea asp-for="ContentSummary" class="form-control" style="min-height: 200px"></textarea>
                            <span asp-validation-for="ContentSummary" class="text-danger"></span>
                        </dd>
                        <div class="form-group mb-2">
                            <p>Categories</p>
                            @foreach (Category item in Model.AllCategories)
                            {
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="@item" name="SelectedCategoryIds"
                                           value="@item.Id" @(Model.SelectedCategoryIds.Contains(item.Id) ? "checked" : "")>
                                    <label class="form-check-label" for="@item">@item.Name</label>
                                </div>
                            }
                        </div>
                    </dl>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-dark" />
                        <a asp-action="Index" class="btn btn-dark">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}