@using NewsTella.Models
@using NewsTella.Services
@inject IArticlesService articleService
@inject ICategoryService categoryService

@{
	var latestArticle = articleService.GetLatestArticle();
}



<div class="container container-rm-margin container-rework">
	<div class="row row-margin">
		@if (latestArticle != null)
		{
			<div class="col-sm-12 col-md-6 col-lg-7 col-margin">				
				<div class="d-flex flex-column">	
					<div class="front-img-container">
						@if (!string.IsNullOrEmpty(latestArticle.ImageLink))
						{
							<div class="front-img" style="background-image: url('@latestArticle.ImageLink');"></div>							
						}
					</div>
				<div class="article-section">
						@if (latestArticle.Categories.Any())
						{
							var category = latestArticle.Categories.First();
							<a class="category-link icon-link icon-link-hover" asp-controller="Categories" asp-action="Articles" asp-route-categoryId="@category.Id">@category.Name</a>							
						}
						<h3 class="article-heading" title="@latestArticle.Headline">
							<a asp-controller="Article" asp-action="Details" asp-route-id="@latestArticle.Id">@latestArticle.Headline</a>
						</h3>
						<div class="article-paragraph">@latestArticle.ContentSummary</div>
				</div>
				</div>
			</div>
		}
		else
		{
			<p>No latest published article found.</p>
		}
		<div class="col-sm-12 col-md-6 col-lg-5 tab-sm">
				<div class="tab-wrapper">

				
				<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
					<li class="nav-item tab-item" role="presentation">
						<button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-latest" type="button" role="tab" aria-controls="pills-latest" aria-selected="true">Latest</button>
					</li>
					<li class="nav-item tab-item" role="presentation">
						<button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-editors" type="button" role="tab" aria-controls="pills-editors" aria-selected="false">Editor's Choice</button>
					</li>
					<li class="nav-item tab-item" role="presentation">
						<button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-popular" type="button" role="tab" aria-controls="pills-popular" aria-selected="false">Most Popular</button>
					</li>
				</ul>
				<div class="tab-content" id="pills-tabContent">
					<div class="tab-pane fade show active" id="pills-latest" role="tabpanel" aria-labelledby="pills-latest-tab" tabindex="0">
						@await Component.InvokeAsync("LatestArticle", new { count = 6 })
					</div>
					<div class="tab-pane fade" id="pills-editors" role="tabpanel" aria-labelledby="pills-editors-tab" tabindex="0">
						@await Component.InvokeAsync("ECArticle", new { count = 6 })
					</div>
					<div class="tab-pane fade" id="pills-popular" role="tabpanel" aria-labelledby="pills-popular-tab" tabindex="0">
						@await Component.InvokeAsync("PopularArticle", new { count = 6 })
					</div> 
				</div>
			</div>
		</div>
	</div>
</div>	

