@model NewsTella.Models.Database.Category
@using PagedList;

@* <div class="container">
    <div class="row">
        <div class="col-md-12">
            @Html.Partial("_LatestArticles", Model)
        </div>
    </div>
</div>


<div class="container">
    <div class="border-bottom border-black m-3 mt-5 mb-5 lineborder "></div>
    @Html.Partial("_ArticlePartial", Model)
</div> *@
@if (Model.Name.Contains("Weather"))
{
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-8">
                @Html.Partial("_LatestArticles", Model)



                </div>
                <div class="col-12 col-md-6 col-lg-4 mt-9  ">
                @Html.Partial("_WeatherPartial", Model)


                </div>
                <div class="col-12 col-md-12 col-lg-12">
                @Html.Partial("_WeatherArticleLatest", Model)
                </div>
            </div>
        </div>


}
else if (Model.Name.Contains("Sport"))
{
    <p class="text-center text-danger" style="font-size:35px; text-shadow: 2px 2px 4px #000000; font-weight:bold;">Sport</p>
    <div class="container">
        <div class="row">
            <div>
                @Html.Partial("_LatestSportArticle", Model)
            </div>

            <div class="border-bottom border-black m-3 mt-5 mb-5 lineborder ">
                @Html.Partial("_SportArticles", Model)
            </div>

        </div>


    </div>
}
else if (Model.Name.Contains("Economy"))
{
    @Html.Partial("_StockPartial", ViewBag.StockQuote as List<NewsTella.Models.StockQuote>)
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("_LatestArticles", Model)
            </div>
        </div>
    </div>


    <div class="container">
        <div class="border-bottom border-black m-3 mt-5 mb-5 lineborder "></div>
        @Html.Partial("_ArticlePartial", Model)
    </div>
}

else
{
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                @Html.Partial("_LatestArticles", Model)
                </div>
            </div>
        </div>


        <div class="container">
            <div class="border-bottom border-black m-3 mt-5 mb-5 lineborder "></div>
        @Html.Partial("_ArticlePartial", Model)
        </div>

}
