@model NewsTella.Models.ViewModel.DashboardViewModel


<html>
<head>
    <title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
 
    
    <div class="container">
      <div class="row mb-4 h-25">
            <div class="col-12 col-md-6 col-lg-6 " style="background-color:#80808033;">
           <h2 class="text-center text-danger mb-3 mt-3">Dashboard</h2>
            <canvas id="myChart"></canvas>
         </div>
            <div class="col-12 col-md-6 col-lg-6 " style="background-color:#80808033;">
                <h2 class="text-center text-danger mb-3 mt-3">Subscription Statistics</h2>
                <canvas id="myCharts"></canvas>
            </div>



            <div class="col-12 col-md-6 col-lg-6">
               <h2 class="text-center text-danger mb-3 mt-5 ">Recent Articles</h2>
               <ul class="list-group">
                   @foreach (var article in Model.RecentArticles)
                   {
                        <li class="list-group-item" >
                          <h5 class="text-dark" style="font-weight:bold">@article.Headline</h5>
                           <p>@article.DateStamp.ToShortDateString()</p>
                           <p>Views: @article.Views, Likes: @article.Likes</p>
                       </li> 
                   }
               </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-6" >
                <h2 class="text-center text-danger mb-3 mt-5 ">Popular Articles</h2>
                <ul class="list-group">
                    @foreach (var article in Model.PopularArticles)
                    {
                        <li class="list-group-item">
                            <h5 class="text-dark" style="font-weight:bold">@article.Headline</h5>
                            <p>@article.DateStamp.ToShortDateString()</p>
                            
                            <p>Views: @article.Views, Likes: @article.Likes</p>
                        </li>
                    }
                </ul>
            </div>
      </div>
    </div>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ['Users', 'Articles', 'Subscriptions'],
                datasets: [{
                    label: 'Statistics',
                    data: [@Model.TotalUsers, @Model.TotalArticles, @Model.TotalSubscriptions],
                    backgroundColor: [
                        'rgb(255, 99, 132)',
                        'rgb(54, 162, 235)',
                        'rgb(255, 205, 86)'
                    ],
                    borderColor: [
                        'rgba(75, 192, 192, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)'
                    ],
                    hoverOffset: 25
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>


    <script>
        var ctx = document.getElementById('myCharts').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Basic', 'Pro', 'Premium'],
                datasets: [{
                    label: 'Statistics',
                    data: [@Model.BasicCount, @Model.ProCount, @Model.PremiumCount],
                    backgroundColor: [
                        'green',
                        'red',
                        'pink'
                    ],
                    borderColor: [
                        'black',
                        'black',
                        'black'
                    ],
                    hoverOffset: 25
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</body>
</html>
