@model IEnumerable<NewsTella.Models.Database.SubscriptionType>

@* <div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div style="height:350px;width:130px" class="col md-4 text-center mt-4 mb-4">
                <div class="mt-2 pt-4 border border-5">
                    <i class="mdi mdi-account h1 mb-3 "></i>
                    <h4 class="f-20 card-title fw-bold"><strong>@item.TypeName</strong></h4>
                    <div class="mt-4 pt-2">
                        <p class="mb-2 f-18 font-weight-bold h5">Features</p>
                        <p class="card-text text-muted">@item.Description</p>
                    </div>
                    <div class="pricing-plan mt-4 pt-2">
                        <h4 class="text-muted"><s> </s> <span class="plan pl-3 text-dark card-price">@item.Price</span></h4>
                        <p class="text-muted mb-0 card-text text-muted">Per Month</p>
                    </div>
                    <div class="mt-4 mb-4 pt-3">
                        <a class="btn btn-dark btn-rounded" asp-controller="Subscription" asp-route-subscriptionTypeId="@item.Id" asp-action="Create">Select</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
 *@

<section id="pricing" class="pricing-content section-padding">
	<div class="container align-items-center ">
		<div class="section-title text-center">
			<h2>Pricing Plans</h2>
			<p>Join now and continue reading the stories important to you..</p>
			<p>Chose a plan below to get started</p>
		</div>
    </div> 
	<div class="row text-center mb-5 d-flex" ;">
		@foreach(var item in Model)
		{	
			<div class="col-lg-4 col-sm-6 col-xs-12 mb-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInUp;">
				<div class="pricing_design">
					<div class="single-pricing">
						<div class="price-head">
							<h2>@item.TypeName</h2>
							<h1>@item.Price</h1>
							<span>/Monthly</span>
						</div>
						<ul>
							<li>@item.Description</li>
							
						</ul>
						<div class="pricing-price">
						</div>
							<a class="btn btn-dark btn-rounded price_btn" asp-controller="Subscription" asp-route-subscriptionTypeId="@item.Id" asp-action="Create">Select</a>
						</div>
				
					</div>
				</div>
		   
		}
	</div>
</section>
