@using Humanizer
@model NewsTella.Models.Database.Category



@foreach (var article in Model.Articles.OrderByDescending(m => m.DatePublished).Take(1).ToList())
{

    <div class="col-12 col-md-6 col-lg-12">

        <div class="card h-100 no-border d-flex flex-column card-body ">
            <a href=" @Url.Action("Details", "Article", new { id = article.Id })" class="text-decoration-none text-reset">
                <img class="card-img-top " src="@article.ImageLink" alt="@article.Headline" height="auto" width="100%">
            </a>
            <div class="card-body">
                <a href=" @Url.Action("Details", "Article", new { id = article.Id })" class="text-decoration-none text-reset">
                    <h5 class="card-title text-center mt-2 h5text">@article.Headline</h5>
                </a>

                <p class="card-text text-center">@article.ContentSummary</p>
                <p class="d-flex flex-column"><small>Published on @article.DatePublished</small></p>
                @* <a href="@Url.Action("Details", "Article", new { id = article.Id })" class="btn btn-warning readbutton">Read More</a>  *@
            </div>
        </div>
    </div>
}
