@model X.PagedList.IPagedList<NewsTella.Models.Database.Subscription>
@using X.PagedList.Mvc.Core
@using X.PagedList

<div class="container">
    <div class="row">
        <div class="col">
            <h3>Subscribers List</h3>
        </div>
        <div class="col-md-6">
            <form asp-controller="Subscription" asp-action="Index" method="get" class="form-inline float-right">
                <div class="input-group">
                    <input type="text" name="email" class="form-control" placeholder="Search by email" />
                    <input type="submit" value="Search" class="btn btn-dark ml-2" />
                </div>
            </form>
        </div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            FirstName
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            SubscriptionType
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            Created
                        </th>
                        <th>
                            Expires
                        </th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubscriptionType.TypeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubscriptionType.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Created)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Expires)
                        </td>
                    </tr>
            }
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.PagedListPager(
                         Model,
                         page => Url.Action("Index", new { page, email = ViewContext.HttpContext.Request.Query["email"] }),
                         new PagedListRenderOptions
                {
                    Display = PagedListDisplayMode.IfNeeded,
                    DisplayPageCountAndCurrentLocation = true,
                    DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                    DisplayLinkToLastPage = PagedListDisplayMode.Always,
                    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                    DisplayLinkToNextPage = PagedListDisplayMode.Always
                }
                         )
            </div>
        </div>
    </div>
</div>
