@model IEnumerable<NewsTella.Models.ViewModel.FrontPageArticleVM>

<style>
	.tab-category-wrapper {
		display: inline-block;
	}

	.comma {
		display: inline-block;
		color: #e41b13;
	}
</style>

@foreach (var popularArticles in Model)
{
	<div class="article-container">
		<div class="img-container">
			<div class="tab-img-wrapper">
				<div class="tab-img" style="background-image: url('@popularArticles.ImageLink');"></div>
			</div>
		</div>
		<div class="tab-article-section">
			<div class="tab-category-wrapper">
				@for (int i = 0; i < popularArticles.CategoryNames.Count; i++)
				{
					<a class="tab-category-heading" asp-controller="Categories" asp-action="Articles" asp-route-categoryId="@popularArticles.CategoryIds[i]">
						@popularArticles.CategoryNames[i]
					</a>
					@if (i < popularArticles.CategoryNames.Count - 1)
					{
						<span class="comma">, </span>
					}
				}

			</div>
			<h3 class="tab-article-heading mt-0">
				<a asp-controller="Article" asp-action="Details" asp-route-id="@popularArticles.ArticleId" title="@popularArticles.Headline">@popularArticles.Headline</a>
			</h3>
			<div class="row"> 
				<div class="col-2">
					<p style="text-decoration:none; font-size:11px; " class="badge rounded-pill bg-primary bg-opacity-50 text-dark mb-0"><span class="fa fa-eye"></span> @popularArticles.Views </p>
				</div>
				<div class="col-10 pt-2">
					<p style="text-decoration:none; font-size:11px; text-align:left; font-weight: bold;" class="mb-0"> @popularArticles.DatePublished.ToShortDateString() </p>
				</div>
			</div>
		</div>
	</div>
}